.toolbar {
  padding: 12px 48px;
  display: flex;
  align-items: center;
}

button {
  margin: 8px;
  border: none;
  padding: 8px;
  font: inherit;
  font-weight: 700;
  color: white;
  font-size: 26px;
}

button:hover {
  transform: scale(98%);
  cursor: pointer;
}

.control {
  min-width: 110px;
  border-radius: 10px;
  background-color: #5271ff;
}

.info {
  min-width: 48px;
  border-radius: 24px;
  background-color: black;
}

.generation {
  margin: 0 48px;
  font-size: 26px;
  white-space: nowrap;
}

.header {
  margin: 8px 24px 8px auto;
  font-size: 48px;
  white-space: nowrap;
}
